#encabezado {
    background: rgb(231, 134, 166);
	color: white;
	height: 80px;
}
body {
    background-color: whitesmoke;
}
#columnas {
    column-count: 2;
    size: 20px;
}
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
