#título {
    background: rgb(231, 134, 166);
	color: white;
	height: 60px;
}
#encabezado {
    background: rgb(231, 134, 166);
	color: white;
	height: 30px;
    font-size: large;
}
body {
    background-color: whitesmoke;
}
#columnas {
    column-count: 3;
    size: 20px;
}
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  color: rgb(231, 134, 166);
}
a:link {
    color: white;
}
a:hover {
    color: antiquewhite;
}
a:visited {
    color: black;
}
a:active {
    color: white;
}